:root{
    --base:#ffc600;
    --spacing:10px;
    --border-radius:0%;
    --height:500px;

}
img{
    padding:var(--spacing);
    background:var(--base);
    border-radius: var(--border-radius);
    width: 70%;
    height: var(--height);
    margin-right: auto;
    margin-left:auto ;
}
.h1{
    color:var(--base);
}
@media only screen and (max-width: 650px) {
    h2{
        font-size: 30px;
    }
    .controls label{
        font-size: 35px;
        text-align: center;
        display: block;
        
    }
  }
body {
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }